In [37]:
# importando bibliotecas
import pandas as pd

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [34]:
# carregando df gasolina_2000+
df_gaso_2000 = pd.read_csv(r'C:\Users\EFerrari\Estudos\Asimov\projetos\analise-precos-gasolina\gasolina_2000+.csv')
df_gaso_2000.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [35]:
# carregando df gasolina 2010+
df_gaso_2010 = pd.read_csv(r'C:\Users\EFerrari\Estudos\Asimov\projetos\analise-precos-gasolina\gasolina_2010+.csv')
df_gaso_2010.head(3)

C:\Users\EFerrari\AppData\Local\Temp\ipykernel_6440\3147295284.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gaso_2010 = pd.read_csv(r'C:\Users\EFerrari\Estudos\Asimov\projetos\analise-precos-gasolina\gasolina_2010+.csv')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.02,2.05,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.49,1.99,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.59,2.49,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069

In [36]:
# juntando os dois dfs (gaso_2000 + gaso_2010)
df_preco_gaso = pd.concat([df_gaso_2000, df_gaso_2010], ignore_index=True)

### 2. Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df_preco_gaso.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df_preco_gaso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
type(df_preco_gaso.loc[3, 'DATA INICIAL'])

str

In [6]:
df_preco_gaso.columns

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO'],
      dtype='object')

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
df_preco_gaso['DATA INICIAL'] = pd.to_datetime(df_preco_gaso['DATA INICIAL'])

df_preco_gaso['DATA FINAL'] = pd.to_datetime(df_preco_gaso['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
df_preco_gaso['ANO_MÊS'] = pd.to_datetime(df_preco_gaso['DATA FINAL']).dt.to_period('M')

df_preco_gaso['ANO_MÊS']

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO_MÊS, Length: 120823, dtype: period[M]

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
df_preco_gaso['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
df_preco_gaso_comum = df_preco_gaso[df_preco_gaso['PRODUTO'] == 'GASOLINA COMUM']

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
preco_med_gaso_2008 = df_preco_gaso[df_preco_gaso['ANO_MÊS'] == '2008-08']['PREÇO MÉDIO REVENDA'].mean()

preco_med_gaso_2008

9.300789303079416

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
# exibindo valores unicos na coluna estado

df_preco_gaso['ESTADO'].value_counts()

PARAIBA                4819
RIO DE JANEIRO         4819
SAO PAULO              4819
RIO GRANDE DO SUL      4819
BAHIA                  4819
SANTA CATARINA         4818
RIO GRANDE DO NORTE    4818
MINAS GERAIS           4817
ESPIRITO SANTO         4815
PERNAMBUCO             4813
CEARA                  4813
PARANA                 4807
ALAGOAS                4806
SERGIPE                4795
MATO GROSSO DO SUL     4793
MATO GROSSO            4566
AMAZONAS               4414
GOIAS                  4134
PIAUI                  4017
MARANHAO               3971
DISTRITO FEDERAL       3956
PARA                   3955
TOCANTINS              3953
RONDONIA               3950
ACRE                   3948
RORAIMA                3938
AMAPA                  3831
Name: ESTADO, dtype: int64

In [13]:
preco_med_gaso_2014_sp = df_preco_gaso[(df_preco_gaso['ANO_MÊS'] == '2014-05') &
                         (df_preco_gaso['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

preco_med_gaso_2014_sp

8.920766666666669

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [14]:
# criando um df com as informações novas
gaso_acima_5 = df_preco_gaso[(df_preco_gaso['PRODUTO'] == 'GASOLINA COMUM') &
                             (df_preco_gaso['PREÇO MÍNIMO REVENDA'] > 5)]

In [15]:
gaso_acima_5['ESTADO'].unique()

array(['ACRE', 'BAHIA', 'GOIAS', 'MARANHAO', 'MATO GROSSO DO SUL', 'PARA',
       'PIAUI', 'RIO DE JANEIRO', 'RIO GRANDE DO NORTE', 'SERGIPE',
       'TOCANTINS', 'CEARA', 'DISTRITO FEDERAL', 'ESPIRITO SANTO',
       'RIO GRANDE DO SUL', 'RONDONIA', 'ALAGOAS', 'AMAZONAS',
       'MATO GROSSO', 'MINAS GERAIS', 'RORAIMA', 'PARAIBA', 'PARANA',
       'PERNAMBUCO', 'SANTA CATARINA'], dtype=object)

In [16]:
gaso_acima_5['ANO_MÊS'].unique()

<PeriodArray>
['2018-09', '2018-10', '2018-11', '2021-01', '2021-02', '2021-03', '2021-04',
 '2021-05']
Length: 8, dtype: period[M]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [17]:
df_preco_gaso['REGIÃO'].value_counts()

NORDESTE        41671
NORTE           27989
SUDESTE         19270
CENTRO OESTE    17449
SUL             14444
Name: REGIÃO, dtype: int64

In [18]:
# criando uma nova coluna para receber o ano
df_preco_gaso['ANO'] = df_preco_gaso['ANO_MÊS'].dt.year

In [19]:
med_preco_sul_2012 = df_preco_gaso[(df_preco_gaso['REGIÃO'] == 'SUL') & 
                               (df_preco_gaso['ANO'] == 2012) &
                               (df_preco_gaso['PRODUTO'] == 'GASOLINA COMUM')]['PREÇO MÉDIO REVENDA'].mean()

med_preco_sul_2012

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [20]:
df_preco_gaso_rj = df_preco_gaso[(df_preco_gaso['ESTADO'] == 'RIO DE JANEIRO') &
                                 (df_preco_gaso['PRODUTO'] == 'GASOLINA COMUM')]

df_preco_gaso_rj.groupby("ANO")["PREÇO MÉDIO REVENDA"].mean() / df_preco_gaso_rj.groupby("ANO")["PREÇO MÉDIO REVENDA"].mean().mean()

ANO
2004    0.643069
2005    0.692410
2006    0.758370
2007    0.749698
2008    0.754037
2009    0.759440
2010    0.783958
2011    0.838706
2012    0.844666
2013    0.886892
2014    0.927358
2015    1.047375
2016    1.159965
2017    1.214613
2018    1.437493
2019    1.437498
2020    1.409726
2021    1.654727
Name: PREÇO MÉDIO REVENDA, dtype: float64